h1 {
    background:lightseagreen; 
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid;
    border-color: darkblue;
    margin: 40px;
    padding: 5px;
}
body {
    background-color: lightblue;
}
.credentials {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:5px;
}

#box {
    width: 500px;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 7px;
   padding-right: 7px;
   background-color: white;
   border-radius: 10px;
   box-shadow: 2px 2px 15px 2px
}
#login {
    text-align:left;
    padding-left: 15px;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border-color: lightskyblue;
    background-color:rgb(44, 219, 0);
    color:white;
}
button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gillsans {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#desc {
    font-size: medium
}
#profilepic {
    height:125px;
    width:125px;
    border: solid;
    border-color: rgb(43, 128, 226);
    border-radius: 5px;
}